<!-- 2015.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="2015">
    <h1>Keble Ball 2015</h1>
    <p><img src="{{ url_for('static', filename='images/2015_1.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_2.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_3.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_4.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_5.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_6.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_7.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_8.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_9.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_10.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_11.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_12.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_13.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_14.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_15.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_16.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_17.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_18.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_19.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_20.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_21.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_22.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_23.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_24.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_25.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_26.jpg') }}" /></p>
    <p><img src="{{ url_for('static', filename='images/2015_27.jpg') }}" /></p>
</article>
{% endblock %}
