<!-- committee.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="committee">
    <h1>Committee</h1>
    <table id="committee_table">
        <tr>
            <td class="role_title">Presidents</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01WZtAe2rX8CBztS_BbwDIvA==&amp;c=-vjkoCY376IPCQ-Cz_mXolEBUxlNct6-TyI4phbtypM=" target="_blank">Shea O'Hagan</a>
                <br />
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01E7bfYWS312xdjDYrbAbdfg==&amp;c=kXaAJi68WaB2XD5bq45LpTNl2wsBqUTotAu18hjfNiA=" target="_blank">Sarah Timmis</a>
            </td>
        <tr>
        <tr>
            <td class="role_title">Treasurer</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01WZtAe2rX8CBztS_BbwDIvA==&amp;c=vP6keWaWztYNfd2yJ_ezxjs2Dwhiy8nJ7f3XpImz9_w=" target="_blank">Kate Dickinson</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Logistics</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=0133IYp4KK6_WtYnLoma6bsg==&amp;c=wosjcE2S-f4fM_Bh31Rb0jhd7iQACTh_W8OJkS9Y52M=" target="_blank">
                    Alan Aberdeen<br />
                    Paul Mabey
                </a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Security &amp; Contracts</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=0191GmIDNXZcEmnUywTj8xIQ==&amp;c=ZR_gGhiId0IZICa5AcFJZYGGziitmK2X4h2Ykg4T2oM=" target="_blank">Cristoph Nitschke</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Role</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01E7bfYWS312xdjDYrbAbdfg==&amp;c=f5_ItVb63SGpKq_O8PYSVsGBrR-CBZk9wR3Jj4Eo0jQ=" target="_blank">
                    Elliott Rogers<br />
                    Ione Wells<br />
                    Ell Potter
                </a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Technology</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=0191GmIDNXZcEmnUywTj8xIQ==&amp;c=QzeOPsok1-0Lyn_B0dgIa6n62U3dE1eJyIIpLEDR4xY=" target="_blank">Andrew Warrington</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Food &amp; Drink</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01E7bfYWS312xdjDYrbAbdfg==&amp;c=yokbRfI7bwvzEv5B5YzBbnor5Hktf1fgwVTLjo-d_ls=" target="_blank">
                    Jake Spitz<br />
                    Rubi Ingaglia<br />
                    Caroline Beardmore<br />
                    Niccie Baker
                </a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Entertainment</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01WZtAe2rX8CBztS_BbwDIvA==&amp;c=__dBTcdGzrpQUPj_gjpphSe-MwP4D3T2odk9Wa7OYcA=" target="_blank">
                    Matt Scott<br />
                    Jamie Tahsin<br />
                    Clara Austera
                </a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Ticketing</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01E7bfYWS312xdjDYrbAbdfg==&amp;c=3KfLvVMNp7TIja8hH6uu5SYkbbOVBZGL6UD0at09Ba0=" target="_blank">Isobel Roberts Rajoo</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Marketing</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=0191GmIDNXZcEmnUywTj8xIQ==&amp;c=u7ecW_ptIAinN5QV-oLRpR51qDSY27Vuj_SF4WBsmc8=" target="_blank">Clare Carlile</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Employment</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01E7bfYWS312xdjDYrbAbdfg==&amp;c=ujD6KHpyCN7EVuxvDd-x5z4CvVAWjqYgcKczavWtvDM=" target="_blank">Kathleen Elysee</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Secretary</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01WZtAe2rX8CBztS_BbwDIvA==&amp;c=K5jKMHx5Jac7qv-Xx0p9fvmEC61KSB0eT6sWUHX3J1c=" target="_blank">Kim Berisha</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Sponsorship</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=0133IYp4KK6_WtYnLoma6bsg==&amp;c=Oz7SXbUeITDYFpHF4-GKTqRHkG9r_GE501vYmxrtyTo=" target="_blank">Valerio Pereno</a>
            </td>
        </tr>
        <tr>
            <td class="role_title">Website/Sysadmin</td>
            <td>
                <a href="http://www.google.com/recaptcha/mailhide/d?k=01VW2HusQat4KpnmQYJBSfhQ==&amp;c=0pBadqH9ae41gTIaahTM78kkmPpv_-wELjktV6Zs-d0=" target="_blank" target="_blank">Samuel Littley</a>
            </td>
        </tr>
</article>
{% endblock %}
