<!-- employment.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="employment">
    <h1>Employment</h1>
    <p>Keble Ball is recruiting.  We need you to get involved in the operations of the night and make sure everyone has fun.</p>

    <p>There are 2 types of position to apply for:</p>

    <ul>
        <li><strong>Managers</strong>: you will be in charge of small teams, managing either bars or the cellar. These few spots will be given to those with experience. You will be expected to work for the full night.</li>
        <li><strong>General Staff</strong>: you will help serve food and drink and assist with the logistics of the Ball. You can work half the night – either in the first half or the second half of the Ball - and earn a reduced price ticket.  Alternatively you can work the full night and receive payment in return.</li>
    </ul>

    <p>This year we have an exciting collaboration with Queen's Ball, for which we have two offers:</p>

    <ul>
        <li>Any worker who chooses to work at both Balls will get the oppurtunity to earn more off their discounted ticket price for each Ball.</li>
        <li>Half shift workers will be able to work the 1st shift for one Ball and the 2nd shift for the other, meaning that they will definitely be able to enjoy the second half of one Ball.</li>
    </ul>

    <p>Please note that you will be required to attend a training session prior to the Ball in 1st or 2nd week of Trinity term.</p>

    <p>If you are interested in working at the Ball, please fill in the Google form at <a href="http://goo.gl/forms/ElwKZDuKZ1">http://goo.gl/forms/ElwKZDuKZ1</a> by 9pm on 7th March 2016 to convince us why you are the best person for the job. Following this you may be invited to a short interview, and you will hear shortly afterwards if your application has been successful.</p>

    <p>For any further enquiries please email <a href="mailto:employment@kebleball.com">employment@kebleball.com</a></p>
</article>
{% endblock %}
