<!-- employment.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="employment">
    <h1>Employment</h1>
    <p>Keble Ball is recruiting.  We need you to get involved in the operations of the night and make sure everyone has fun.</p>
    <p>
        There are 2 types of position to apply for:
        <ul>
            <li><strong>Managers</strong>: you will be in charge of small teams, managing either bars or the cellar. These few spots will be given to those with experience. You will be expected to work for the full night.</li>
            <li><strong>General Staff</strong>: you will help serve food and drink and assist with the logistics of the Ball. You can work half the night – either in the first half or the second half of the Ball - and earn a reduced price ticket.  Alternatively you can work the full night and receive payment in return.</li>
        </ul>
    </p>
    <p>Please note that you will be required to attend a training session prior to the Ball in 1st or 2nd week of Trinity term.</p>
    <p>Recruitment will open on 18th January.</p>
</article>
{% endblock %}
