<!-- entertainment.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="entertainment">
    <h1>Entertainment</h1>
    <p>Welcome to Keble Ball; your adventure has begun. Entertainment awaits you, and you will have fun.</p>
    <p>On Pusey Quad, you will not break free from the unstoppable beats created by hit house djs. Your energy will rise as some of the freshest talent in grime and garage take to the stage, and you will put on your dancing shoes to some classic rock and roll.</p>
    <p>You will flee to Hayward Quad, where you will find uproarious drag acts and comedy performances. You will remember however, that even the darkest of comedy will not hide you. Beneath Keble's watchful spires, you will enter our experience rooms, where your senses will be attacked by unfamiliar noises, tastes, smells and sensations. For those seeking an escape, look to our daring rides for hair-raising thrills. After momentary respite, you will return to Pusey Quad for our headline performer, and you will dance and sing like never before.</p>
    <p>You will do all this and more. When the morning is upon you, you will not wish to run. Keble Ball will ensnare you, and you will have fun.</p>
</article>
{% endblock %}
