<!-- food_drink.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="food_drink">
    <h1>Food &amp; Drink</h1>
    <p>This year we are revolutionising Food and Drink at Keble Ball. Institutional standard will clash with individual flair in a combination of culinary styles and mixological expression.</p>
    <p>We have observed the finest cuisines from all around the world, and made a selection for your enjoyment. On 7th May 2016 you will watch as they sate your appetite and ensure your satisfaction.</p>
    <p>Drinks will bubble, steam and glow, spilling over as the night passes on. The crowds will ebb and flow, and as the tide turns your energy levels will rise, injected with our concoctions.</p>
    <p>You will enjoy the food. You will enjoy the drink. You will have fun.</p>
</article>
{% endblock %}
