<!-- sponsorship.html -->
{% extends 'layout.html' %}

{% block content %}
<article id="sponsorship">
    <h1>Our Sponsor</h1>

    <a href="http://www.neptunebigideas.com/?usertype=UK%20Private%20Investor&amp;cm_mmc=Consumer-_-keble%20-_-promotional-_-Bigideas" target="_blank">
        <img src="{{ url_for('static', filename='images/neptune.png') }}" alt="Sponsored by Neptune investment Management" id="neptunelogo" />
    </a>

    <h2>A warm welcome from Neptune</h2>

    <p>Neptune Investment Management is proud to be the Exclusive Sponsor of Keble Ball 2016. Over the five years of our partnership, we have seen the Ball grow to become one of the most popular college balls and are thrilled to work with the Committee again to achieve what we hope will be the most successful event yet.</p>

    <p>At Neptune, we pride ourselves in nurturing and developing young talent whether this is in our own employees or through our educational, sporting and arts partnerships. We think the hard work, dedication and commitment required to pursue your studies at Oxford deserves to be celebrated. And what a fantastic evening you will have to celebrate your success and future successes.</p>

    <h2>A few words on who we are</h2>

    <p>Neptune is a young and dynamic investment management company founded in 2002, built on principles of teamwork and partnership. Our expertise lies in equity fund management and our funds can be held within a pension, an ISA, or simply invested in directly. Our focus has always been on delivering excellence, whatever the economic conditions, using a rigorous and unique investment process underpinned by proprietary research.</p>

    <p>Please note the value of an investment and any income from it can fall as well as rise as a result of market and currency fluctuations and you may not get back the amount originally invested. If you are unsure about the suitability of an investment, please consult an authorised financial adviser.</p>

    <p>To learn more about Neptune and our investment insights, visit <a href="http://www.neptunebigideas.com/?usertype=UK%20Private%20Investor&amp;cm_mmc=Consumer-_-keble%20-_-promotional-_-Bigideas" target="_blank">neptunebigideas.com</a></p>

    <p>Issued by Neptune Investment Management Limited, 3 Shortlands, W6 8DA. Authorised and regulated by the Financial Conduct Authority (www.fca.org.uk), 25 The North Colonnade, Canary Wharf, London, E14 5HS. FCA registration number 416015.</p>
</article>
{% endblock %}
